extends layout

block content
    div.w3-container.w3-gray
        h1= title

    table.w3-table-all.w3-margin(style="width:95%")
        thead
            tr.w3-light-gray
                th Shortcut
                th Title
        each department in departments_list
            tr
                td
                    a(href=department.url) #{department.title}
                td
                    a(href=department.url) #{department.fullname}
        else
            tr
                td List of departments is empty
