extends layout

block content

    div.w3-container.w3-gray
        div.w3-cell-row
            div.w3-cell(style="width:80%")
                h1 #{teacher.name}
            div.w3-cell.w3-cell-middle.w3-center
                h5 Logged in: #[i #{username}]
            div.w3-cell.w3-cell-middle
                a.w3-button.w3-hover-none(href="/logout")
                    i(class="fas fa-sign-out-alt fa-lg")

    div.w3-container.w3-padding-16(style="margin-right:35%")
        p #[strong ID: ] #{teacher.id_number}
        p #[strong Email: ] #{teacher.email_address}
        p #[strong Teacher's classes: ]
        div
            table.w3-table-all
                thead
                    tr.w3-light-gray
                        th Shortcut
                        th Title
                each Class in teacher_classes
                    tr
                        td #{Class.abbreviation}
                        td
                            a(href=Class.url) #{Class.title}
                else
                    tr
                        td This teacher doesn't have any classes

    div.w3-cell-row.w3-padding
        div.w3-cell
            a.w3-button.w3-border.w3-round-medium(href=teacher.url + '/update') Edit
        div.w3-cell
            a.w3-button.w3-border.w3-round-medium(href=teacher.url + '/delete') Delete
        div.w3-cell(style="width:80%")


