extends layout

block content

    div.w3-container.w3-gray
        div.w3-cell-row
            div.w3-cell(style="width:80%")
                h1 #{title}: #{teacher.name}
            div.w3-cell.w3-cell-middle.w3-center
                h5 Logged in: #[i #{username}]
            div.w3-cell.w3-cell-middle
                a.w3-button.w3-hover-none(href="/logout")
                    i(class="fas fa-sign-out-alt fa-lg")

    if teacher_classes.length
        div.w3-container.w3-padding-16(style="margin-right:35%")
            p #[strong You need to remove these classes before deleting this teacher.]
                table.w3-table-all
                    thead
                        tr.w3-light-gray
                            th Shortcut
                            th Title
                    each Class in teacher_classes
                        tr
                            td #{Class.abbreviation}
                            td
                                a(href=Class.url) #{Class.title}

    else
        div.w3-container.w3-padding-16(style="margin-right:35%")
            p #[strong ID: ] #{teacher.id_number}
            p #[strong Email: ] #{teacher.email_address}
        div.w3-cell-row.w3-padding
            div.w3-cell
                p Are you sure you want to delete this teacher?
            div.w3-cell
                form(method='POST' action='')
                    div.form-group
                        input#teacherid.form-control(type='hidden', name='teacherid', required='true', value=teacher._id )

                    button.w3-button.w3-border.w3-round-medium(type='submit') Delete
            div.w3-cell(style="width:30%")
